body {
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
    background-color: black;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    margin: 0 auto;
    background-color: chocolate;

}

.title-box {
    width: 500px;
    padding: 20px 0;
    margin-bottom: 200px;
    background-color: #42b72a;

}

.title-box img {
    width: 235px;
    margin-bottom: -10px;
    background-color: bisque;


}

.title-box p {
    color: #000;
    font-size: 27px;
    font-weight: normal;
    line-height: 32px;
    background-color: brown;
}

.form-box {
    width: 396px;
    padding: 20px 0 28px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    margin-left: 60px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    border: none;
    margin-bottom:100px;
    background-color: blueviolet;

}

.form-box input {
    width: 370px;
    margin-bottom: 15px;
    padding: 14px 16px;
    font-size: 17px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    outline: none;
}

.form-box input:focus {
    box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}

.form-box button {
    width: 360px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: #166fe5;
}

.form-box button:hover {
    background: #1877f2;
}

.form-box a {
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box hr {
    border: 1px solid #dadde1;
    margin-bottom: 15px;
    width: 3px;
}

.form-box .create-btn a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

.form-box .create-btn a:hover {
    background: #42b72a;
}

.alt-alan {

    background-color: rgb(255, 255, 255);
    width: 100½;
    height: 153px;
    padding: 20px;

}


    






    